#userEmployees {
  .card {
    margin-bottom: 20px;
  }

  .card-block {
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
  }

  .btn-ems {
    font-size: 14px;
    color: white;
    padding: 10px 15px;
  }

  .card-footer {
    font-size: 14px;
  }

  .btn-ems {
    margin-right: 10px;
  }
}
